<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.burndown"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoicesActivity"
            android:label="@string/title_activity_choices" >
        </activity>
        <activity
            android:name=".ParseBugzillaActivity"
            android:label="@string/title_activity_parse_bugzilla" >
        </activity>
        <activity
            android:name=".ProjectListViewActivity"
            android:label="@string/title_activity_project_list_view" >
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password" >
        </activity>
        <activity
            android:name=".Project"
            android:label="@string/title_activity_project" >
        </activity>
        <activity
            android:name=".ProjectTest"
            android:label="@string/title_activity_project_test" >
        </activity>
        <activity
            android:name=".Projects"
            android:label="@string/title_activity_projects_test" >
        </activity>
        <activity
            android:name=".ProjectInfoActivity"
            android:label="@string/title_activity_project_info" >
        </activity>
        <activity
            android:name=".ProjectStoriesActivity"
            android:label="@string/title_activity_project_stories" >
        </activity>
        <activity
            android:name=".BurnDown"
            android:label="@string/title_activity_burn_down" >
        </activity>
        <activity
            android:name=".GraphActivity"
            android:label="@string/title_activity_graph" >
        </activity>
        <activity
            android:name=".SprintBurndownActivity"
            android:label="@string/title_activity_sprint_burndown" >
        </activity>
        <activity
            android:name=".SprintsActivity"
            android:label="@string/title_activity_sprints" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
